.footer {
  padding-top: 15rem;
  padding-bottom: 12.8rem;
  font-size: var(--font-size--small);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__credits {
  width: 100%;
  text-align: center;
  margin-top: 4.8rem;
}

.footer__credits a:hover,
.footer__credits a:active {
  border: none;
}

@media only screen and (max-width: 67em /* 1072px */) {
  .footer__container {
    display: block;
  }
  .footer__credits {
    text-align: center;
  }
}

@media only screen and (max-width: 31.75em /* 508px */) {
  .footer {
    padding-top: 12.8rem;
    padding-bottom: 8rem;
  }
}
