.header__container {
  padding: 3.2rem 4.8rem;
  display: flex;
  justify-content: space-between;
}

.header__logo-link {
  display: block;
  max-width: 24rem;
  flex: 1 0;
  margin-right: 4.8rem;
  z-index: 999;
}

.header__logo-link:hover,
.header__logo-link:active {
  border: none;
}

.header__logo-link img {
  display: block;
  width: 100%;
}

.header--sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.88);
  backdrop-filter: blur(7px);
  box-shadow: var(--shadow--light);
  animation: 0.4s animateHeader cubic-bezier(0.16, 1, 0.3, 1);
}

.header--sticky .header__container {
  padding: 1.6rem 4.8rem;
  align-items: center;
}

.header--sticky .header__logo-link {
  max-width: 16rem;
}

.header--sticky .button:link::before,
.header--sticky .button:visited::before {
  background-color: var(--color--main-0);
}

.menu-button {
  font-size: var(--font-size--very-large);
  color: var(--color--grey-2);
  line-height: 0;
  display: none;
  z-index: 210;
}

.menu-button--close {
  animation: 0.5s rotate ease-out;
}

.menu-button--open {
  animation: 0.3s resize ease-in;
}

@media only screen and (max-width: 83.25em /* 1332px */) {
  .header__container {
    padding: 3.2rem 3.2rem;
  }

  .header--sticky .header__container {
    padding: 1.6rem 3.2rem;
    max-width: var(--page-width--default);
  }
}

@media only screen and (max-width: 55em /* 880px */) {
  .menu-button {
    display: block;
  }
}

@media only screen and (max-width: 31.75em /* 508px */) {
  .header--sticky .header__container {
    padding: 1.6rem 2.4rem;
  }
  .header__container {
    padding: 3.2rem 2.4rem;
  }
}

@keyframes animateHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes resize {
  from {
    transform: scale(0);
  }
  70% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
