.top-navigation ul {
  height: 100%;
  gap: 4.8rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.top-navigation__link {
  color: var(--color--grey-2);
  font-weight: var(--font-weight--medium);
  font-size: var(--font-size--small);
  display: block;
  text-decoration: none;
  transition: var(--animation--regular-linear);
}

.top-navigation__link:hover {
  transform: translateY(-5%);
  border: none;
}

.top-navigation__link:active {
  transform: translateY(5%);
  border: none;
}

@media only screen and (pointer: coarse) {
  .top-navigation__link:hover,
  .top-navigation__link:active {
    transform: none;
  }
}

@media only screen and (max-width: 55em /* 880px */) {
  .top-navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 200;
    animation: 0.5s slide;
    transition: all 0.3s;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .top-navigation__link:link,
  .top-navigation__link:visited {
    font-size: var(--font-size--regular-large);
  }

  .top-navigation .button:link::before,
  .top-navigation .button:visited::before {
    background-color: var(--color--main-0);
  }

  .top-navigation .button:hover,
  .top-navigation .button:active {
    box-shadow: none;
  }

  .top-navigation ul.display-menu {
    display: flex;
  }

  .top-navigation ul.hide-menu {
    transform: translateX(100%);
  }

  .top-navigation__link:hover,
  .top-navigation__link:active {
    transform: none;
  }
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
