.top-navigation ul {
  height: 100%;
  gap: 4.8rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.top-navigation__link {
  color: var(--color--grey-2);
  font-weight: var(--font-weight--medium);
  font-size: var(--font-size--small);
  display: block;
  text-decoration: none;
  transition: var(--animation--regular-linear);
}

.top-navigation__link:hover {
  transform: translateY(-5%);
}

.top-navigation__link:active {
  transform: translateY(5%);
}

@media only screen and (pointer: coarse) {
  .top-navigation__link:hover,
  .top-navigation__link:active {
    transform: none;
  }
}
