:root {
  --animation--regular-linear: all 0.2s linear;
  --animation--regular: all 0.2s ease-in-out;

  --border-radius--regular: 13px;
  --border-radius--large: 24px;

  --border-width--thin: 1px;
  --border-width--thick: 3px;

  --color--black: #000;
  --color--white: #fff;

  --color--main-0: #f9edc8;
  --color--main-1: #ffe187;
  --color--main-2: #fbcb3c;
  --color--main-2-opaque: rgba(251, 203, 60, 0.5);
  --color--main-3: #f1b104;
  --color--main-4: #902600;

  --color--shade-0: #7b6568;
  --color--shade-1: #655355;
  --color--shade-2: #4f4043;
  --color--shade-3: #412531;

  --color--grey-0: #999;
  --color--grey-1: #666;
  --color--grey-2: #222;

  --color--accent-primary-0: #f6acc1;
  --color--accent-primary-1: #f391ad;
  --color--accent-secondary-0: #a9d8d5;
  --color--accent-tertiary-0: #ff6e00;

  --effect--out-of-lines-inset: inset 2px 1px 0 0;
  --effect--out-of-lines-outset: 2px 1px 0 0;
  --effect--duo-tone-shadow: 4px 4px 0 0 var(--color--accent-secondary-0),
    -4px -4px 0 0 var(--color--accent-primary-0);

  --font-family--default: Rubik, sans-serif;

  --font-size--tiny: 0.6rem;
  --font-size--very-small: 1.4rem;
  --font-size--small: 1.8rem;
  --font-size--regular: 2rem;
  --font-size--regular-large: 2.2rem;
  --font-size--large: 3rem;
  --font-size--very-large: 4.4rem;
  --font-size--huge: 5.5rem;

  --font-weight--regular: 400;
  --font-weight--medium: 500;
  --font-weight--bold: 700;

  --letter-spacing--much-smaller: -0.5px;
  --letter-spacing--smaller: -0.3px;
  --letter-spacing--larger: 2px;

  --line-height--small: 1.05;
  --line-height--medium: 1.25;
  --line-height--medium-large: 1.3;
  --line-height--large: 1.8;

  --page-width--default: 120rem;
  --page-width--wide: 130rem;
  --page-width--max: 200rem;

  --shadow--border-thin: inset 0 0 0 1px var(--color--shade-1);
  --shadow--light: 0 0 15px rgba(0, 0, 0, 0.08);
  --shadow--regular: 0 2px 3px rgba(0, 0, 0, 0.15);
  --shadow--strong: 0 1px 2px rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--color--white);
  color: var(--color--shade-2);
  font-size: var(--font-size--regular);
  line-height: var(--line-height--large);
  font-family: var(--font-family--default);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

input:focus-visible,
textarea:focus-visible,
button:focus-visible,
select:focus-visible,
a:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1rem var(--color--main-2-opaque);
  border-radius: 2px;
}

::selection {
  background-color: var(--color--main-2-opaque);
}

*:link,
*:visited {
  color: var(--color--main-4);
  text-decoration: none;
}

a:hover,
a:active {
  border-bottom: 2px solid var(--color--main-4);
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.button:link,
.button:visited {
  display: inline-block;
  position: relative;
  z-index: 0;
  transition: var(--animation--regular);
  border-radius: var(--border-radius--large);
  padding: 1rem 2.4rem;
  color: inherit;
  font-weight: var(--font-weight--medium);
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
}
.button::before {
  top: 0.1rem;
  left: 0.3rem;
  transition: all 0.3s linear;
  border-radius: inherit;
}
.button::after {
  top: 0;
  left: 0;
  box-shadow: var(--shadow--border-thin);
  border-radius: inherit;
}
.button--main::before {
  background: var(--color--main-2);
}
.button--accent-primary::before {
  background: var(--color--accent-primary-0);
}
.button--accent-secondary::before {
  background: var(--color--accent-secondary-0);
}
.button--white::before {
  background: var(--color--white);
}
.button:hover {
  transform: translateY(-5%);
  box-shadow: 0 15px 26px 0 rgba(0, 0, 0, 0.06);
  border: none;
}
.button:active {
  transform: translateY(5%);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  border: none;
}

.subheading {
  color: var(--color--main-4);
  font-weight: var(--font-weight--medium);
  font-size: var(--font-size--small);
  letter-spacing: var(--letter-spacing--larger);
  text-transform: uppercase;
}

.heading-primary {
  color: var(--color--shade-3);
  font-size: var(--font-size--huge);
  line-height: var(--line-height--small);
  letter-spacing: var(--letter-spacing--much-smaller);
}
.heading-secondary {
  color: var(--color--shade-3);
  font-size: var(--font-size--very-large);
  line-height: var(--line-height--medium);
  letter-spacing: var(--letter-spacing--smaller);
}
.heading-tertiary {
  color: var(--color--shade-2);
  font-size: var(--font-size--large);
  line-height: var(--line-height--medium-large);
}

.highlight {
  position: relative;
  z-index: 0;
}
.highlight::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: skewX(-15deg);
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
}
.highlight--accent-primary::before {
  background-color: var(--color--accent-primary-0);
}
.highlight--accent-secondary::before {
  background-color: var(--color--accent-secondary-0);
}
.highlight--main::before {
  background-color: var(--color--main-2);
}

.background--main {
  background-color: var(--color--main-0);
}

.section {
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 3.2rem;
}
.container--default {
  max-width: var(--page-width--default);
}
.container--wide {
  max-width: var(--page-width--wide);
}
.container--max {
  max-width: var(--page-width--max);
}

.flex {
  display: flex;
}
.flex--center {
  align-items: center;
}
.flex--space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}
.grid--2-columns {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.grid--gap-medium {
  gap: 4.8rem;
}
.grid--span {
  grid-column: 1 / -1;
}
.grid--to-first-column {
  grid-column: 1;
}
.grid--to-second-column {
  grid-column: 2;
}

.vertical-padding--large {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.curve {
  position: relative;
  z-index: 3;
}
.curve--bottom::after,
.curve--top::after,
.curve--bottom-shadow-line::before,
.curve--top-shadow-line::before {
  position: absolute;
  left: 50%;
  z-index: 4;
  border-radius: 100%;
  background-color: inherit;
  width: 150%;
  height: 10rem;
  content: "";
}
.curve--bottom::after,
.curve--bottom-shadow-line::before {
  transform: translate(-50%, -50%);
}
.curve--top::after,
.curve--top-shadow-line::before {
  transform: translate(-50%, 50%);
}
.curve--bottom::after {
  top: 100%;
}
.curve--top::after {
  bottom: 100%;
}
.curve--bottom-shadow::after,
.curve--bottom-shadow-line::before {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
}
.curve--top-shadow::after,
.curve--top-shadow-line::before {
  box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.3);
}
.curve--bottom-shadow-line::before,
.curve--top-shadow-line::before {
  width: 120%;
}
.curve--bottom-shadow-line::before {
  top: 101.5%;
}
.curve--top-shadow-line::before {
  bottom: 101.5%;
}
.curve--bottom-shadow-line-main::before {
  background-color: var(--color--main-3);
}
.curve--top-shadow-line-accent-primary::before {
  background-color: var(--color--accent-primary-0);
}
.curve--bottom-shadow-line-gradient-1::before {
  background: linear-gradient(
    90deg,
    var(--color--main-3) 70%,
    var(--color--accent-secondary-0) 90%
  );
}
.curve--bottom-shadow-line-gradient-2::before {
  background: linear-gradient(
    90deg,
    var(--color--accent-primary-0) 70%,
    var(--color--main-3) 90%
  );
}
.curve--bottom-shadow-line-gradient-all::before {
  background: linear-gradient(
    90deg,
    var(--color--accent-tertiary-0) 30%,
    var(--color--accent-secondary-0) 40% 60%,
    var(--color--accent-primary-0) 70%
  );
}

.info {
  // background-color: var(--color--main-3);
  background: linear-gradient(
    to right,
    var(--color--main-3),
    var(--color--accent-primary-0),
    var(--color--accent-secondary-0)
  );
  padding: 1.6rem 2.4rem;
  text-align: center;
}

.closed-banner {
  background-color: var(--color--main-4);
  padding: 1.6rem 0;
  color: var(--color--white);
  font-size: var(--font-size--small);
  text-align: center;
}

@media only screen and (max-width: 83.25em /* 1332px */) {
  .container--max {
    max-width: var(--page-width--wide);
  }
}

@media only screen and (max-width: 75em /* 1200px */) {
  .button:link,
  .button:visited {
    font-size: var(--font-size--small);
  }
}

@media only screen and (max-width: 70em /* 1120px */) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 58.25em /* 932px */) {
  .button:link,
  .button:visited {
    font-size: var(--font-size--regular);
  }
}

@media only screen and (max-width: 55em /* 880px */) {
  .curve--bottom-shadow-line-gradient-1::before {
    background: var(--color--main-3);
  }
  .curve--bottom-shadow-line-gradient-2::before {
    background: var(--color--accent-primary-0);
  }
  .curve--bottom-shadow-line-gradient-all::before {
    background: var(--color--accent-tertiary-0);
  }
}

@media only screen and (max-width: 37.25em /* 596px */) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 31.75em /* 508px */) {
  .container {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
  .vertical-padding--large {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
  }
  .grid--gap-medium {
    gap: 3.6rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
}

@media only screen and (max-width: 28.5em /* 456px */) {
  .button:link,
  .button:visited {
    border-radius: 100rem;
    padding: 1.4rem 2.8rem;
  }
}

@media only screen and (max-width: 24em /* 384px */) {
  .heading-secondary {
    font-size: var(--font-size--large);
  }
}

@media only screen and (max-width: 19.25em /* 308px */) {
  html {
    font-size: 43.75%;
  }
}

// error page
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color--main-0);
  width: 100vw;
  height: 100vh;
}

.error__logo {
  position: absolute;
  top: 3.2rem;
  max-width: 20rem;
}

.error__heading {
  font-size: var(--font-size--huge);
}

.error__message {
  font-size: var(--font-size--large);
}
