.hero .section__container {
  padding-top: 3.2rem;
  padding-bottom: 6.4rem;
}
.hero__description {
  margin-top: 3.2rem;
  margin-bottom: 4.8rem;
}
.hero__button--contact {
  margin-right: 2rem;
}

.hero__button--more svg {
  transform: translate(30%, 15%);
}

@media only screen and (max-width: 75em /* 1200px */) {
  .hero__heading {
    font-size: var(--font-size--very-large);
  }
  .hero__description {
    margin-bottom: 3.6rem;
  }
}

@media only screen and (max-width: 61.25em /* 980px */) {
  .hero .section__container {
    grid-template-columns: 60fr 40fr;
  }
}

@media only screen and (max-width: 58.25em /* 932px */) {
  .hero .section__container {
    grid-template-columns: 1fr;
    max-width: 70.4rem;
  }

  .hero img.hero__image {
    max-width: 61.4rem;
  }

  .hero__text-group {
    margin-bottom: 4.8rem;
  }
}

@media only screen and (max-width: 28.5em /* 456px */) {
  .hero__text-group {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
  }
  .hero__button--contact {
    margin-right: 0;
    margin-bottom: 1.6rem;
  }
}
